


#chat {

  background: green;
  height: 100%
	
}

#messages {

  background: red;
  height: 50%;
	
}

#nicknames {

  background: yellow;
	
}

#lines {

  background: orange;
	
}

#messages #nicknames b {
  display: inline-block;
  color: blue;
  padding: 3px 6px;
  margin-right: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}
